/* Estilos para el cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

/* Estilos para el encabezado */
h1 {
    text-align: center;
    color: #333;
    margin-top: 20px;
}

/* Estilos para el contenedor del formulario */
.container {
    max-width: 400px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Estilos para etiquetas */
label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}

/* Estilos para los campos de entrada y el botón */
input[type="text"],
input[type="email"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
    color: #555;
    background-color: #f9f9f9;
}

/* Estilos para el botón de envío */
input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Estilos para el fondo del formulario */
body {
    background-image: url('tu-imagen-de-fondo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
