.container {
    position: relative;
  }
  
  #div1, #div2, #div3, #div4, #div5, #div6, #div7, #div8, #div9 {
    width: 170px;
    position: absolute;
    border: 2px solid #000; /* Color del borde negro */
  }
  
  #div1 {
    height: 100px;
    top: 0;
    left: 0;
    background-color: #FF5733; /* Color de fondo diferente para div1 */
  }
  
  #div2 {
    height: 150px;
    top: 100px; /* Top ajustado para que se toque con div1 */
    left: 0;
    background-color: #33FF57; /* Color de fondo diferente para div2 */
  }
  
  #div3 {
    height: 80px;
    top: 250px; /* Top ajustado para que se toque con div2 */
    left: 0;
    background-color: #5733FF; /* Color de fondo diferente para div3 */
  }
  
  #div4 {
    height: 120px;
    top: 0;
    left: 200px;
    background-color: #FF5733; /* Color de fondo diferente para div4 */
  }
  
  #div5 {
    height: 90px;
    top: 120px; /* Top ajustado para que se toque con div4 */
    left: 200px;
    background-color: #33FF57; /* Color de fondo diferente para div5 */
  }
  
  #div6 {
    height: 130px;
    top: 240px; /* Top ajustado para que se toque con div5 */
    left: 200px;
    background-color: #5733FF; /* Color de fondo diferente para div6 */
  }
  
  #div7 {
    height: 70px;
    top: 0;
    left: 400px;
    background-color: #FF5733; /* Color de fondo diferente para div7 */
  }
  
  #div8 {
    height: 110px;
    top: 70px; /* Top ajustado para que se toque con div7 */
    left: 400px;
    background-color: #33FF57; /* Color de fondo diferente para div8 */
  }
  
  #div9 {
    height: 160px;
    top: 180px; /* Top ajustado para que se toque con div8 */
    left: 400px;
    background-color: #5733FF; /* Color de fondo diferente para div9 */
  }
  